<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Menu -->
    <menuitem id="main_koukaauto_menu" name="Kouka Auto"/>
        <menuitem id="koukaauto_menu" name="Kouka auto" parent="main_koukaauto_menu"/>
        
            <menuitem id="vehiclead_menu" name="Vehicle Announce" parent="koukaauto_menu"
            action="vehiclead_list_action"/>
            <menuitem id="mark_menu" name="Marks" parent="koukaauto_menu"
            action="mark_list_action"/>
      
        <menuitem id="system_menu" name="System" parent="main_koukaauto_menu" />

            <menuitem id="model_menu" name="Models" parent="system_menu"
            action="model_list_action" />
            <menuitem id="engine_menu" name="Engine" parent="system_menu"
            action="engine_list_action" />
            <menuitem id="finition_menu" name="Finition" parent="system_menu"
            action="finition_list_action" />
        
</odoo>